body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ced4da;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 30px;
    height: 55px;
    width: 55px;
}
#logo {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1.5px solid;
}
.search-bar{
    display: flex;
    color: #41f41ddb;
}
#search-bar{
    width: 400px;
    padding: 8px;
    border: 1px solid #eeefee;
    border-radius: 10px;
    margin-right: 5px;
}
button:hover {
	background-color: #141617db;
}
button{
    padding: 9px 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 9px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#x{
    background-color: black;
    color: #fff;
    height: 35px;
    width: 40px;
}
#x:hover {
	background-color: #141617db;
}
#cnt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#empty-cart{
    margin-top: 20px;
    height: 700px;
    width: 800px;
}
.cartlist{
    height: 70px;
    width: 90%;
    display: flex; 
    justify-content: space-evenly;
    margin:10px auto;
    border: 1px solid;
    align-items: center;
}
.prodimg{
    height: 90%;
    width:60px;
}
img{
    height: 50px;
    width: 50px;
}
footer {
    background-color: #ced4da;
    margin-bottom: 0%;
  }
  .footer-cnt{
    display: flex;
    justify-content: space-evenly
}
.foot, h3{
    margin-left: 30px;
}
.list-unstyled{
    list-style: none;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}

