body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ced4da;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 30px;
    height: 55px;
    width: 55px;
    
}
#logo {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1.5px solid;
}
.search-bar{
    display: flex;
}
#search-bar{
    width: 400px;
    padding: 8px;
    border: 1px solid #eeefee;
    border-radius: 10px;
    margin-right: 5px;
}
button:hover {
	background-color: #141617db;
}
button{
    padding: 9px 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 9px;
    margin: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.product-card{
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 300px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 20px;
    margin: 10px;
}
.product_img{
    width: auto;
    height: 70%;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    background-color: #eeefee;
    border-radius: 20px;
}
#product_img{
    height: 95%;
    width: 90%;
}
#product_img:hover{
    transform: scale(1.1);
}
.details{
    display: flex;
    margin: 0px 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    justify-content: space-evenly;
    
}
img {
    max-width: 200px;
    height: auto;
}
footer{
    background-color: #ced4da;
    margin-bottom: 0%;
}
.footer-cnt{
    display: flex;
    justify-content: space-evenly
}
.foot, h3{
    margin-left: 30px;
}
.list-unstyled{
    list-style: none;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}