body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ced4da;
    padding: 10px;
    width: 99%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.logo{
    margin-left: 30px;
    height: 55px;
    width: 55px;
}
#logo {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1.5px solid;
}
.search-bar{
    display: flex;
}
#search-bar{
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 5px;
}
#container{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.prod{
    display: flex;
    flex-direction: row;
}
#detail{
    margin-top: 20px;
}
#prod-img{
    height: 90vh;
    width: 60vw;
    position: sticky;
    top: 80px;
    /* bottom: 0px; */
    overflow: hidden;
}
#img{
    height: 90%;
    width: 95%;
    border: none;
    border-radius: 20px;
    margin: 25px 40px 0px 25px;
    background-color: #eeefee;
}
.details{
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}
button:hover {
	background-color: #141617db;
}
button{
    padding: 9px 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 9px;
    margin: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#review{
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: #eeefee; */
}
.rdiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 5px;
    line-height: 15px;
}
#rimg{
    height: 25px;
    width: 25px;
}
.rating{
    display: inline-block;
    background-color: green;
    color: white;
    padding:0px 5px ;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: 800px;
}
.r-rating{
    display: inline-block;
    background-color: green;
    color: white;
    width: 30px;
    padding:3px 5px ;
    vertical-align: middle;
    border-radius: 3px;
}
.price{
    display: flex;
    align-items: center;
    font-size: x-large;
    margin-top: -20px;
}
.rname{
    display: flex;
    align-items: center;
}
#span{
    margin-left: 30px;
}
footer{
    background-color: #ced4da;
    margin-bottom: 0%;
}
.footer-cnt{
    display: flex;
    justify-content: space-evenly
}
.foot, h3{
    margin-left: 30px;
}
.list-unstyled{
    list-style: none;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}